
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    font-family: 'Oswald';
}
.bg-primary{
    background-color: rgba(70, 13, 228, 0.959) !important;
}

.pie_pgn{
   
    background-color: rgba(70, 13, 228, 0.959) !important;
}

.breadcrumb{
    background-color: rgba(70, 13, 228, 0.959) !important;
     
}
.text-a{
    text-align:right ;
    
}

.alto-pg{
    height: 100px;
}
